.idea
#cmake:
/CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

#box2d .a:
libBox2D.a
#ejecutable: (cambiar cuando cambiemos nombre de ejecutable)
untitled
portal_cliente
portal_servidor
untitled.cbp

